.TodoList{
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.header {
  /* background-color: red; */
  max-width: 1160px;
  height: 48px;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border: 1px solid #ddd;
}
.inputContainer {
  background-color: #eee;
  width: 1140px;
  height: 100px;
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}

.inputFieldContainer {
  display: flex;
  align-items: center;
}

.inputField {
  padding-left: 10px;
  margin: 20px;
  width: 260px;
  height: 38px;
  border: none;
  border-radius: 12px;
}

.addButton {
  background-color: teal;
  width: 140px;
  height: 40px;
  color: white;
  border: none;
  border-radius: 12px;
  font-weight: 700;
}
.addButton:hover {
  background-color: rgb(2, 100, 100);
  cursor: pointer;
}

.taskSection {
  width: 1150px;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}
.cardContainer {
  /* background-color: blue; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  /* background-color: red; */
  width: 270px;
  height: 145px;
  padding: 25px;
  border: 4px solid teal;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px;
}

.cardButton {
  width: 130px;
  height: 40px;
  background-color: transparent;
  border-radius: 8px;  
  transition: 0.2s;
  /* position: fixed; */
}

.deleteButton {
  border: 2px solid red;
  margin-right: 10px;
}

.deleteButton:hover {
  background-color: red;
  margin-right: 10px;
  color: white;
  font-weight: 600;
}

.cancelButton,
.completeButton {
  border: 2px solid green;
}

.cancelButton:hover,
.completeButton:hover {
  background-color: green;
  color: white;
  font-weight: 600;
}

